<i>Scroll down to view description in Russian (пролистайте ниже для описания на русском языке).</i>

This add-on downloads your dictionary words from <a href="https://lingualeo.com/">LinguaLeo</a> - a great resource for Russian language speakers to learn English, and transforms them into Anki cards. Both &#39;English to Russian&#39; and &#39;Russian to English&#39; cards are created and they include pronunciation sound, image, transcription, and context.
<img src="https://i.imgur.com/KN7esIOl.png" alt="screenshot"/>
<a href="https://lingualeo.com/">LinguaLeo</a> has a user-friendly interface for adding new words to learn and a good <a href="https://lingualeo.com/ru/browserapps">browser extension</a> to quickly look up for translations and add words to the dictionary in one click. But once you added the words and learned them via several <a href="https://lingualeo.com/ru/training">trainings</a>, you need Anki to stick them in your memory forever with as little time and effort as possible.

<b>Notice on recent update of LinguaLeo</b>
The <a href="https://corp.lingualeo.com/ru/2019/04/30/news/">update</a> of Lingualeo on April 30, 2019 brought several <a href="https://corp.lingualeo.com/ru/2019/07/12/qa-news/">issues</a>. As of December, 2019 they are still experimenting and changing API from time to time. Current version of add-on (2.2.3) is fully compatible with the update. It is not possible to get context for words for now when using a new API, but with old API it works as before. On Lingualeo website there are still some problems with incorrect translations and not getting all the words. If you find some problems with your words, translations or pictures, please check on <a href="https://lingualeo.com/">Lingualeo</a> first and write to the support. For the add-on problems please <a href="https://github.com/vi3itor/lingualeoanki/issues/new">create an issue on Github</a> or mail me at 4yourquestions {at} gmail.com. Thank you!

<b>New in version 2.2 (2019-11-20, last updated 2020-05-14):</b>
<i>Added:</i>
<ul><li>Ability to choose what API to use.</li><li>Check for new version on start.</li><li>Show version info in the window title.</li><li>Config option for number of words per request.</li><li>Config options for download timeout, number of retries, sleep seconds and parallel downloads.</li><li>Get word context again by using old API.</li><li>Show busy progress bar when requesting list of words and wordsets.</li><li>Show number of found words in a progress bar. </li></ul><i>Changed:</i>
<ul><li>Media is downloaded 3 times faster because of parallel downloads. </li><li>List of words and wordsets is requested asynchronously and doesn&#39;t freeze the GUI.</li><li>&quot;Update existing notes&quot; option will update not only media, but also translation and context.</li><li>Renamed &#39;All&#39; radio-button to &#39;Any&#39;.</li><li>Improved dictionary word count in wordset window.</li><li>(Anki &gt;= 2.1.24) Fixed duplicate note creation, and add-on hanging on if word or sentence contains apostrophe.</li><li>Sound and images are not downloaded if the file with identical name exists.</li></ul>
<b>New in version 2.1:</b>
<i>Added:</i>
<ul><li>Updated to a new API because of Lingualeo update. And again.</li><li>Added option (radiobutton) for downloading "New" words.</li><li>Show combined translations (as in the web version).</li></ul><i>Changed:</i>
<ul><li>Renamed "Studied" and "Unstudied" options to "Learned" and "Learning".</li><li>List of user dictionaries shows number of learned words to download (if "Learned" option is selected).</li><li>A list of words to download by status ("New", "Learning" or "Learned") is loading faster now.</li><li>For new users of add-on, Russian to English cards don't require typing a correct answer by default.</li><li>Fixed connection issue on MacOS.</li><li>Fixed media downloading for long sentences.</li><li>Fixed import error when there is no translation for the word (or phrase).</li><li>Fixed import error for words without a transcription.</li><li>Fixed import error for words with broken media links.</li><li>Stop downloading a default picture for the words without pictures.</li></ul><i>Removed:</i>
<ul><li>Protocol setting in config, since LinguaLeo does not work with http anymore.</li><li>Currently, word context is not downloaded. (Will be back in the future versions)</li></ul>
<b>New in version 2.0:</b>
<i>Added:</i>
<ul><li>Full support of Anki 2.1.x and Anki 2.0 (tested on Anki 2.0.52).</li><li>Ability to import not only all words, but words from one or several user dictionaries (word sets).</li><li>Log in and log out buttons and ability to stay logged in (by storing cookies in the user_files folder).</li><li>Select words to import: &quot;Studied&quot;, &quot;Unstudied&quot; or &quot;Any&quot;.</li><li>Option to update existing notes (see also &quot;Changed&quot; section).</li><li>Configuration file to store user&#39;s login and (optionally) password as well as other settings: stay logged in, protocol (http or https), remember the password.</li><li><a href="https://pypi.org/project/six/">Six library</a> for writing Python 2 and 3 compatible code easier.</li><li>Changelog to keep updates and changes in one place.</li></ul><i>Changed:</i>
<ul><li>Fixed issues with downloading duplicates.</li><li>Check for duplicates first before starting to import words (don&#39;t check for duplicates only if &quot;Update existing notes&quot; option is selected).</li><li>Default protocol changed to https.</li><li>Prevent multiple runs of the add-on at the same time.</li><li>When exiting allow Anki&#39;s main window to close add-on window if no words are downloading.</li></ul><i>Removed:</i>
<ul><li>Option &quot;missed words&quot;: it is not necessary anymore, because, by default, the add-on only downloads media for the words that are not in the deck.</li></ul>The full <a href="https://github.com/vi3itor/lingualeoanki/blob/master/CHANGELOG.md">log of changes</a> can be found in the repository.

<b>Installation</b>
The easiest (and preferable) way to install the add-on is by using the Anki&#39;s built-in add-ons managing system. In this case, it will be easy to update the add-on and get the latest version with new features and bug fixes. To install the add-on go to:
(in Anki 2.1.x) &quot;Tools&quot; &gt; &quot;Add-ons&quot; &gt; &quot;Get add-ons...&quot;
(in Anki 2.0) &quot;Tools&quot; &gt; &quot;Add-ons&quot; &gt; &quot;Browse &amp; Install&quot;
and input add-on&#39;s code: 1411073333. Restart Anki.

If for some reason you wish to install the add-on manually, download the archive with the latest version from the <a href="https://github.com/vi3itor/lingualeoanki/">repository on GitHub</a> (<a href="https://github.com/vi3itor/lingualeoanki/blob/master/version_archive/for_anki_2_1/for_2_1_lingualeoanki-2-2-3.zip">for Anki 2.1.x</a>, <a href="https://github.com/vi3itor/lingualeoanki/blob/master/version_archive/for_anki_2_0/for_2_0_lingualeoanki-2-2-1.zip">for Anki 2.0</a>), open Anki on your computer, go to:
(in Anki 2.1.x) &quot;Tools&quot; &gt; &quot;Add-ons&quot; &gt; &quot;View Files&quot;
(in Anki 2.0) &quot;Tools&quot; &gt; &quot;Add-ons&quot; &gt; &quot;Open Add-ons Folder&quot;
and put the content of the archive there. If you use Anki 2.1.x create an additional folder named &quot;lingualeoanki&quot; inside &quot;addons21&quot; folder and put content of the archive there. Restart Anki.
See the following gif for the details on manual installation on Anki 2.0 (with Russian captures): <a href="https://media.giphy.com/media/3oFzm4JamA2wb86yTS/giphy.gif">how to manually install</a>

<b>Update</b>
To update the add-on in Anki 2.1.x go to &quot;Tools&quot; &gt; &quot;Add-ons&quot;. Select the add-on and click &quot;Check for updates.&quot; Click "Yes" to update and <b>restart Anki</b> for changes to take effect.
In Anki 2.0 you need to repeat installation procedure and it will automatically replace the files.
If after the update the add-on does not work as expected try:<ul><li>restarting Anki;</li><li>clicking Log Out and authorizing again.</li></ul>If it is still not working - try to delete the add-on and install it again.

<b>Compatibility</b>
The add-on works with Anki 2.1.x and Anki 2.0 (tested on 2.0.52). It is recommended to install the latest version of Anki 2.1, because the future releases of the add-on may not support outdated Anki 2.0.52.

<b>Usage</b>
To run the add-on go to the &quot;Tools&quot; menu and click &quot;Import from LinguaLeo.&quot; Enter your login and password. If you&#39;d like to stay logged in choose &quot;Stay logged in&quot; option, and you can also save the password (stored in the configuration file), and click &quot;Log in&quot; button.
If the authorization is successful, you can choose the words to import: "All" (no matter what status), "New", "Learning" or "Learned."
If you updated media for some notes that had been previously imported, choose &quot;Update existing notes&quot; option.

To download all user words click &quot;Import all words&quot; button. If you want to choose user dictionaries (word sets) to download words from: click &quot;Import from dictionaries&quot; button and hold Ctrl (or Cmd) to choose several dictionaries. Then click &quot;Import.&quot;
And that&#39;s all. You don&#39;t need to create decks, models, templates or anything else. The add-on will make it all for you. As simple as that.
Please, be patient, it can take up to 10 minutes (or even more) to download 1000 words depending on the size of images and sounds and the speed of your internet connection.
When finished press the &quot;Exit&quot; button.

<b>Additional</b>
To rate this add-on and leave feedback, go to <a href="https://ankiweb.net/shared/info/1411073333">its page</a>, log in to your AnkiWeb account in the top right corner and click &quot;Rate this.&quot; If you&#39;d like to see a new feature or found a bug, please, don&#39;t leave a comment on the add-on&#39;s page, instead copy an error message and <a href="https://github.com/vi3itor/lingualeoanki/issues/new">create an issue on GitHub</a>, or send me an email to 4yourquestions [at] gmail.com.

<b>Features expected to appear in next releases:</b>
<i>User Interface:</i>
<ul><li>Add Russian localization since beginners are more comfortable with native language.</li><li>Additional configuration window to set up: </li><li>what style of &quot;Russian to English&quot; cards to create: with typing answer or without;</li><li>choose from-to dates for importing words;</li><li>option to highlight the word in context;</li><li>Improve error messages by narrowing down the reason.</li></ul><i>Import:</i>
<ul><li>Add user dictionaries (wordsets) as tags.</li><li>Save problem words in json format and ask to retry downloading problem words only.</li><li>Improve duplicate search to automatically update notes when any information was changed.</li></ul><b>Authors</b>
Version 1: <a href="https://vk.com/trutanov.alex">Alex Trutanov</a>, <a href="https://bitbucket.org/alex-altay/lingualeoanki">original project on bitbucket</a>.
Version 2: <a href="https://github.com/vi3itor/">Victor Khaustov</a>, <a href="https://github.com/vi3itor/lingualeoanki/">project on GitHub</a> or <a href="https://bitbucket.org/vkhaustov/lingualeoanki/">on bitbucket</a>.

This project is licensed under the GPL License - see the <a href="https://github.com/vi3itor/lingualeoanki/blob/master/LICENSE">LICENSE</a> file for details.

<b>Acknowledgments</b>
<a href="https://github.com/troggy">Kosta Korenkov</a> for <a href="http://troggy.github.io/anki-leo/">Chrome extension</a> that exports LinguaLeo dictionary and for the help with transitioning to a new API.
<a href="https://github.com/relaxart">Ilya Isaev</a> for <a href="https://habrahabr.ru/post/276495/">inspiration</a> and his project <a href="https://github.com/relaxart/LeoPort">LeoPort</a>.
<a href="https://bitbucket.org/pioneer/">Serge</a> for duplicate search feature, support words with apostrophes and function to retry downloading words if initially failed.
<a href="https://github.com/bikenik">Nikolay Bikov</a> for <a href="https://github.com/bikenik/alfred-lingualeo/blob/master/Lingua-Leo.postman_collection.json">PostMan Collection</a>, <a href="https://github.com/bikenik/alfred-lingualeo">alfred-lingualeo</a> add-on and for helping to test on MacOS.
And to all users who gave valuable comments and feedback and helped to test on different platforms.

<b>Описание на русском языке</b>

Дополнение позволяет в один клик скачать ваши сохранённые слова из <a href="https://lingualeo.com/">LinguaLeo</a> - замечательной образовательной платформы для изучения и практики английского языка, и создать для них карточки Anki. Карточки создаются как в варианте &quot;русский - английский&quot;, так и &quot;английский - русский&quot; и включают в себя изображения, транскрипцию, аудио с произношением и предложение с контекстом из ЛингваЛео.
<img src="https://i.imgur.com/KN7esIOl.png" alt="screenshot"/>
<a href="https://lingualeo.com/">ЛингваЛео</a> имеет удобный интерфейс для добавления новых слов и неплохое <a href="https://lingualeo.com/ru/browserapps">расширение для браузера</a> для перевода незнакомых слов и мгновенного добавления в словарь вместе с контекстом. Но после того, как вы добавили слова и изучили их с помощью нескольких <a href="https://lingualeo.com/ru/training">тренировок</a>, Анки поможет вам никогда не забыть эти слова с минимальной затратой времени и усилий.

<b>Внимание! Обновление Lingualeo от 30.04.2019</b>
В связи с <a href="https://corp.lingualeo.com/ru/2019/04/30/news/">обновлением</a> сервиса Lingualeo от 30 апреля 2019 возможны временные <a href="https://corp.lingualeo.com/ru/2019/07/12/qa-news/">неполадки</a> в его работе. По состоянию на декабрь 2019 года команда Lingualeo по-прежнему продолжает экспериментировать и время от времени изменяет API. В актуальной версии дополнения (2.2.3) восстановлена его работа, но загружать контекст пока что можно только с использованием старого API. Сайт Lingualeo по-прежнему работает нестабильно: не отображает все слова, показывает неверный контекст слов и т.п. Если вы заметили, что ваши слова, их переводы или картинки отображаются неправильно, сначала проверьте всё ли в порядке с вашим словарём и наборами слов на сайте <a href="https://lingualeo.com/">Lingualeo</a> и напишите в поддержку. Если же проблема в дополнении - <a href="https://github.com/vi3itor/lingualeoanki/issues/new">создайте issue на Github</a> либо напишите мне на 4yourquestions {собачка} gmail.com. Спасибо!

<b>Новое в версии 2.2 (2019-11-20, обновлено 2020-05-14):</b>
<i>Добавлено</i>
<ul><li>Возможность выбрать API (новый или старый) для соединения с LinguaLeo.</li><li>Проверка наличия новой версии при запуске дополнения.</li><li>Отображение версии дополнения и напоминания перезапустить Anki для завершения установки обновления.</li><li>Параметр в конфиге для количества слов за один запрос (при загрузке списка слов). На текущий момент сервис LinguaLeo работает нестабильно и изменения этого параметра поможет найти &quot;потерянные&quot; слова.</li><li>Параметр в конфиге для таймаута запроса, количества попыток и длительности ожидания перед повторным скачиванием.</li><li>Снова можно загружать контекст для слов (при использовании старого API).</li><li>Сообщение &quot;Загружается...&quot;, уведомляющее пользователя, что список слов или словарей загружается (актуально для больших списков либо медленного интернета).</li><li>Отображение количества слов во время загрузки.</li></ul><i>Изменено</i>
<ul><li>Картинки и звуки загружаются до 3-ёх раз быстрее благодаря многопоточности.</li><li>Список слов и словарей запрашивается асинхронно и не тормозит пользовательский интерфейс.</li><li>&quot;Update existing notes&quot; опция обновляет не только картинки и звуки, но также перевод(ы), контекст и транскрипцию.</li><li>Кнопка &#39;All&#39; переименована на &#39;Any&#39;.</li><li>Улучшено отображение количества слов для словарей.</li><li>(Anki &gt;= 2.1.24) Исправлена проблема с созданием дупликатов, а также проблема с зависанием аддона, когда импортируемое слово содержит апостроф.</li><li>Картинки и звуки больше не загружаются, если файл с таким именем уже существует.</li></ul>
<b>Новое в версии 2.1:</b>
<i>Добавлено:</i>
<ul><li>Аддон переехал на новый API в связи с обновлением LinguaLeo. А затем ещё раз.</li><li>Добавлена опция "New" для загрузки новых слов (как в сервисе LinguaLeo).</li><li>Импорт всех выбранных переводов для слова (так же как на сайте Lingualeo).</li></ul><i>Изменено:</i>
<ul><li>Изменены названия опций "Studied" и "Unstudied" на "Learned" и "Learning" соответственно.</li><li>При выборе опции "Learned" и нажатии "Import from Dictionaries" список словарей показывает кол-во изученных слов.</li><li>Загрузка списка слов из категорий "New", "Learning" и "Learned" занимает меньше времени (особенно для больших словарей).</li><li>Для новых пользователей дополнения, создаваемые карточки не требуют печатать правильный ответ на английском.</li><li>Исправлена ошибка соединения на MacOS, связанная с отсутствием сертификатов.</li><li>Исправлена загрузка медиафайлов для длинных предложений.</li><li>Исправлена ошибка при загрузке в случае, когда у слова (или предложения) нет перевода.</li><li>Исправлена ошибка, возникающая при загрузке слов без транскрипции.</li><li>Исправлена ошибка, возникающая из-за некорректных ссылок на медиа файлы.</li><li>Исправлена загрузка изображения по-умолчанию для слов без изображения.</li></ul><i>Удалено:</i>
<ul><li>Настройка протокола соединения в конфигурационном файле, так как LinguaLeo больше не работает с http</li><li>На данный момент контекст слова не загружается. (Вернётся в следующих версиях)</li></ul>
<b>Новое в версии 2.0:</b>
<i>Добавлено:</i>
<ul><li>Полная поддержка Anki 2.1.x и Anki 2.0 (тестировалось на Anki 2.0.52).</li><li>Возможность импортировать не только все слова, но выбирать пользовательские словари (наборы) для импорта.</li><li>Кнопки &quot;Войти&quot; и &quot;Выйти&quot;, а также опция оставаться в системе (сохраняя cookies в папке user_files).</li><li>Возможность выбрать, какие слова импортировать: &#39;Изученные&#39;, &#39;Неизученные&#39; или &#39;Любые&#39;.</li><li>Опция &quot;Обновить существующие карточки&quot;, чтобы обновить медиафайлы.</li><li>Конфигурационный файл для хранения логина, пароля (если выбрана соответствующая опция), а также других пользовательских настроек: оставаться в системе, протокол (http либо https). </li><li><a href="https://pypi.org/project/six/">Библиотека Six</a> для удобного написания совместимого кода для Python 2 и 3.</li><li>Changelog для ведения лога изменений программы.</li></ul><i>Изменено:</i>
<ul><li>Исправлена загрузка дубликатов.</li><li>Прежде чем загружать медиафайлы, дополнение проверяет, были ли эти слова загружены ранее (и не загружает медиафайлы для существующих слов, если опция &quot;Обновить существующие карточки&quot; неактивна).</li><li>Https протокол используется по-умолчанию.</li><li>Невозможно запустить более одной копии дополнения одновременно.</li><li>При выходе из Anki и отсутствии активных загрузок окно дополнения будет закрыто автоматически.</li><li>Исправлена загрузка медиафайлов для длинных предложений.</li></ul><i>Удалено:</i>
<ul><li>Опция &quot;missed words&quot;, так как по умолчанию дополнение создаёт карточки и загружает медиафайлы только для слов, которые не были импортированы ранее.</li></ul>Полный <a href="https://github.com/vi3itor/lingualeoanki/blob/master/CHANGELOG.md#russian">список изменений</a> хранится в репозитории.

<b>Установка</b>
Наиболее простой (и рекомендуемый) способ установки: с помощью системы управления дополнениями Anki. В таком случае вы сможете с лёгкостью обновлять дополнение и получать новые верии с новыми функциями и исправленными ошибками. Для этого выберите пункт меню программы:
(для Anki 2.1.x) &quot;Инструменты&quot; (Tools) &gt; &quot;Дополнения&quot; (Add-ons) &gt; &quot;Скачать дополнения&quot; (Get Add-ons...)
(для Anki 2.0) &quot;Инструменты&quot; (Tools) &gt; &quot;Дополнения&quot; (Add-ons) &gt; &quot;Обзор и установка&quot; (Browse &amp; Install)
введите код 1411073333 и перезапустите программу.

Если вы по какой-то причине хотите установить дополнение вручную: скачайте архив с исходным кодом из <a href="https://github.com/vi3itor/lingualeoanki/">репозитория на GitHub</a> (<a href="https://github.com/vi3itor/lingualeoanki/blob/master/version_archive/for_anki_2_1/for_2_1_lingualeoanki-2-2-3.zip">для Anki 2.1.x</a>, <a href="https://github.com/vi3itor/lingualeoanki/blob/master/version_archive/for_anki_2_0/for_2_0_lingualeoanki-2-2-1.zip">для Anki 2.0</a>), откройте Anki на вашем компьютере, выберите пункт меню:
(для Anki 2.1.x) &quot;Инструменты&quot; (Tools) &gt; &quot;Дополнения&quot; (Add-ons) и кликните на кнопку &quot;Просмотреть файлы&quot; (View Files)
(для Anki 2.0) &quot;Инструменты&quot; (Tools) &gt; &quot;Дополнения&quot; (Add-ons) &gt; &quot;Открыть папку с дополнениями&quot; (Open Add-ons Folder)
и скопируйте туда содержимое архива. Если вы используете Anki 2.1.x, создайте папку с именем &quot;lingualeoanki&quot; в папку &quot;addons21&quot; и скопируйте содержимое архива туда. Перезапустите программу.
Гифка с наглядным изображением процесса ручной установки для Anki 2.0: <a href="https://media.giphy.com/media/3oFzm4JamA2wb86yTS/giphy.gif">как установить дополнение вручную</a>

<b>Обновление</b>
Чтобы обновить дополнение в Anki 2.1.x перейдите в &quot;Инструменты&quot; (Tools) &gt; &quot;Дополнения&quot; (Add-ons). Выберите название дополнения и кликните на &quot;Проверить обновления&quot; (Check for updates). Нажмите "Да" для обновления и <i>перезапустите Anki</i>, чтобы изменения вступили в силу.
В Anki 2.0 вам следует повторить процедуру установки.
Если после обновления дополнение не работает, попробуйте:<ul><li>перезапустить Anki;</li><li>нажать Log Out и ещё раз авторизоваться.</li></ul>Если вышеперечисленные действия не помогают - попробуйте удалить дополнение и загрузить снова.

<b>Совместимость</b>
Дополнение работает с новыми версиями (Anki 2.1.x), а также с Анки 2.0 (тестировалось на 2.0.52).
Рекомендуется установить Anki 2.1, актуальную версию программы, так как новые версии дополнения могут не поддерживать устаревшую версию Anki 2.0.

<b>Как это работает?</b>
После установки, чтобы импортировать ваши слова из LinguaLeo в Anki, откройте меню &quot;Инструменты&quot; (Tools) и выберите пункт &quot;Import from LinguaLeo.&quot; Введите ваш логин и пароль для сервиса LinguaLeo. Если вы хотите оставаться в системе, выберите пункт &quot;Stay logged in,&quot; и если вы хотите, чтобы дополнение запомнило пароль, выберите &quot;Save password&quot; (в таком случае пароль будет храниться в конфигурационном файле), после этого нажмите &quot;Log in.&quot;
Если авторизация прошла успешно, вы можете выбрать какие слова импортировать (по текущему статусу, так же как в веб интерфейсе): "All" (все, в независимости от текущего статуса), "New" (только новые), "Learning" (на изучении) либо "Learned" (только изученные).
Если в некоторых словах вы обновили изображение или звук и хотите, чтобы эти изменения попали в Anki, выберите пункт &quot;Update existing notes.&quot;

Для того, чтобы импортировать слова из главного словаря (все пользовательские слова), нажмите кнопку &quot;Import all words.&quot; Для того, чтобы выбрать наборы слов (пользовательские словари) для импорта, нажмите &quot;Import from dictionaries&quot; и выберите один или несколько наборов (удерживая клавишу Ctrl либо Cmd) и нажмите &quot;Import.&quot;
Никаких моделей, шаблонов, колод создавать не нужно, дополнение сделает всю работу за вас. Проще некуда.
Наберитесь терпения. Импорт 1000 слов может занять 10 минут и более в зависимости от веса аудио с произношением и картинок и скорости вашего интернета.
По окончании работы с дополнением нажмите &quot;Exit.&quot;

<b>Кроме того</b>
Для того, чтобы оценить дополнение и оставить комментарий войдите в аккаунт AnkiWeb в правом верхнем углу и кликните &quot;Rate this.&quot; Но если вы хотите новую функцию или обнаружили ошибку, пожалуйста, не оставляйте сообщение о ней в комментарии, а скопируйте текст ошибки и <a href="https://github.com/vi3itor/lingualeoanki/issues/new">создайте issue на GitHub</a>, либо напишите на email: 4yourquestions [собачка] gmail.com.

<b>Ожидается в следующих версиях:</b>
<i>Пользовательский интерфейс:</i>
<ul><li>Русский язык интерфейса, так как начинающим комфортнее работать с дополнением на родном языке.</li><li>Дополнительное окно конфигурации для установки настроек импорта, таких как: </li><li>какого типа карточки создавать: с вводом ответа или без (для русско-английских карточек);</li><li>выбор промежутка времени для импортирования слов;</li><li>опция подсветки слова в контексте;</li><li>Уточнить сообщения об ошибках.</li></ul><i>Загрузка слов:</i>
<ul><li>Добавлять пользовательские словари как теги.</li><li>Сохранять проблемные слова в json формате и предлагать пользователю попытаться снова скачать только проблемные слова.</li><li>Исправить функцию поиска дупликатов, чтобы автоматически обновлять карточки при любых изменениях (не только медиа).</li></ul><b>Авторы</b>
Версия 1: <a href="https://vk.com/trutanov.alex">Александр Трутанов</a>, <a href="https://bitbucket.org/alex-altay/lingualeoanki">оригинальный проект на bitbucket</a>.
Версия 2: <a href="https://github.com/vi3itor/">Виктор Хаустов</a>, ссылка на проект <a href="https://github.com/vi3itor/lingualeoanki/">на GitHub</a> или <a href="https://bitbucket.org/vkhaustov/lingualeoanki/">на bitbucket</a>.
Свободное копирование и использование. Лицензия <a href="https://github.com/vi3itor/lingualeoanki/blob/master/LICENSE">GPL</a>.

<b>Благодарности</b>
<a href="https://github.com/troggy">Kosta Korenkov</a> за <a href="http://troggy.github.io/anki-leo/">расширение для Chrome</a> для экспорта словаря LinguaLeo, а также за помощь с переездом на новый API.
<a href="https://github.com/relaxart">Илья Исаев</a> за <a href="https://habrahabr.ru/post/276495/">вдохновение</a> и проект <a href="https://github.com/relaxart/LeoPort">LeoPort</a>.
<a href="https://bitbucket.org/pioneer/">Serge</a> за функцию поиска дубликатов, поддержку слов с апострофом и функцию повторного скачивания слов.
<a href="https://github.com/bikenik">Николай Байков</a> за <a href="https://github.com/bikenik/alfred-lingualeo/blob/master/Lingua-Leo.postman_collection.json">PostMan Collection</a>, дополнение <a href="https://github.com/bikenik/alfred-lingualeo">alfred-lingualeo</a> и за помощь с тестированием на MacOs.
А также всем, кто пользовался приложением, оставлял ценные комментарии и помогал с тестированием на различных платформах.